/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* width: 1300px; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  custom style********* */

header {
  max-width: 1300px;
  height: 80px;
  width: 100%;
  background-color: #243a6b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  /* width: 400px; */
  /* height: 50px; */
  padding-left: 75px;
}
.header-img {
  /* width: 100%; */
  height: 40px;
  object-fit: cover;
}
.header-nav {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 75px;
}
.header-tag {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.heading-container {
  width: 1300px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding-top: 5%; */
}
h1 {
  font-size: 40px;
  color: #521717;
  text-transform: uppercase;
  font-weight: bold;
}
.galary-container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}
.box {
  flex: 0 1 25%;
  /* width: 250px; */
  /* height: 150px; */
  /* border: 1px solid black; */
  margin: 25px;
  font-size: 0;
}
.img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.footer {
  width: 1300px;

  height: 50px;
  background-color: #243a6b;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.small {
  color: silver;
  font-weight: bold;
  /* width: 500px; */
  /* width: 600px; */
  padding-left: 65px;
}
.nav {
  width: 100px;
  padding-right: 20px;
}
.tag {
  color: white;
  padding-right: 15px;
}
